{% extends "radpress/base_no_body.html" %}

{% load trans from i18n %}
{% load url from future %}

{% block heads %}
  <link rel="stylesheet" href="{{ STATIC_URL }}radpress/css/zen_mode.css" />
{% endblock %}

{% block scripts %}
  <script src="{{ STATIC_URL }}radpress/js/zen_mode.js"></script>
{% endblock %}

{% block body %}
  <div id="zen-container">
    <div class="row-fluid">
      <div class="span7">
        <div id="zen-mode">
          <form action="{% url 'radpress-preview' %}" method="POST">
            {% csrf_token %}
            <textarea name="data"></textarea>
          </form>
        </div>
      </div>
      <div class="span5">
        <div id="zen-preview">
          <div class="button-group">
            <a class="zen-button" href="#">
              {% trans "Save" %}
            </a>
          </div>
          <div class="content-space"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
